node_modules
npm-debug.log
dist
coverage
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.swp
*.swo
.prisma/dev.db
.prisma/dev.db-journal
docker-compose.yml
docker-compose.override.yml
dockerfile
*.md
test
